.dct-footer-main-background {
    background-color: #dcdcdc;
}
.set-border-box, .set-border-box * {
    box-sizing: border-box;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
feuille de style de l’agent utilisateur
div {
    display: block;
}
.dct-footer-container {
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.wrapper {
    min-width: 996px;
    font-size: 10px;
}
