
/* Export PDF */
@page{
    size:"4A";
    margin : 2.5cm 1.5cm 3.5cm 1.5cm;
    @top-center{
    content: "COMPANY NAME";
    }
    @bottom-right{
    content:"page" counter(page) "of" counter(pages)  ;
    }
    }