<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
<li class="nav-item active">
            <a class="nav-link" href="{% url 'register' %}">Inscription</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <main role="main" class="container">
      <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif%}
        {% block content %}
        {% endblock %}
      </div>
    </body>
    </html>
